{% extends "_letter_base.html" %}

{% block recipient %}
  {% if empfaenger_anrede_text %}{{ empfaenger_anrede_text }}<br>{% endif %}
  {{ empfaenger_name or applicant_name }}<br>
  {% if empfaenger_strasse %}{{ empfaenger_strasse }}<br>{% endif %}
  {% if empfaenger_plz or empfaenger_ort %}{{ empfaenger_plz }} {{ empfaenger_ort }}{% endif %}
{% endblock %}

{% block info %}
<div class="din-info__row">
  <span class="din-info__label">Antragsnummer</span>
  <span class="din-info__value mono">{{ antragsnummer }}</span>
</div>
{% if mitgliedsnummer %}
<div class="din-info__row">
  <span class="din-info__label">Mitgliedsnummer</span>
  <span class="din-info__value">{{ mitgliedsnummer }}</span>
</div>
{% endif %}
{% if mandatsreferenz %}
<div class="din-info__row">
  <span class="din-info__label">Mandatsreferenz</span>
  <span class="din-info__value mono">{{ mandatsreferenz }}</span>
</div>
{% endif %}
<div class="din-info__row">
  <span class="din-info__label">Datum</span>
  <span class="din-info__value">{{ club.club_city }}, {{ approval_datum }}</span>
</div>
{% endblock %}

{% block subject %}Aufnahmebestätigung Ihrer Mitgliedschaft{% endblock %}

{% block salutation %}
<div class="din-salutation">{{ empfaenger_anrede_greeting or ('Guten Tag ' ~ (empfaenger_name or applicant_name)) }},</div>
{% endblock %}

{% block content %}
<p>wir freuen uns, Ihnen die Aufnahme in den {{ club.club_name }} zu bestätigen.
Ihr Aufnahmeantrag wurde durch das Ressort Finanzen &amp; Verwaltung geprüft und genehmigt.</p>

<div class="din-databox">
  <div class="din-databox__row">
    <span class="din-databox__label">Mitglied</span>
    <span class="din-databox__value">{{ applicant_name }}</span>
  </div>
  {% if mitgliedsnummer %}
  <div class="din-databox__row">
    <span class="din-databox__label">Mitgliedsnummer</span>
    <span class="din-databox__value">{{ mitgliedsnummer }}</span>
  </div>
  {% endif %}
  <div class="din-databox__row">
    <span class="din-databox__label">Antragsnummer</span>
    <span class="din-databox__value mono">{{ antragsnummer }}</span>
  </div>
  {% if mandatsreferenz %}
  <div class="din-databox__row">
    <span class="din-databox__label">Mandatsreferenz</span>
    <span class="din-databox__value mono">{{ mandatsreferenz }}</span>
  </div>
  {% endif %}
</div>

<p>Bitte beachten Sie folgende Hinweise:</p>
<ul>
  <li>Die aktuell gültige Fassung der Vereinssatzung finden Sie unter {{ club.satzung_url }}.</li>
  <li>Der Jahresbeitrag wird gemäß dem erteilten SEPA-Mandat{% if mandatsreferenz %} (Mandatsreferenz {{ mandatsreferenz }}){% endif %} von dem angegebenen Konto eingezogen.</li>
  <li>Änderungen Ihrer Anschrift oder Bankverbindung teilen Sie uns bitte zeitnah mit, um Rücklastschriftgebühren zu vermeiden.</li>
</ul>

<p>Bei Fragen zu Ihrer Mitgliedschaft erreichen Sie uns unter {{ notification_email or club.contact_email }}.</p>
{% endblock %}

{% block after_body %}
<div class="din-closing">Mit freundlichen Grüßen</div>
<div class="din-signature">
  {% if admin_unterschrift_base64 %}
  <img class="din-signature__img" src="{{ admin_unterschrift_base64 }}" alt="Unterschrift">
  {% endif %}
  <div class="din-signature__name">Mitgliederverwaltung</div>
  <div class="din-signature__role">{{ club.club_name }}</div>
</div>
{% endblock %}
